{% extends "base.html" %}

<!-- HTML -->
{% block page_title %}
    Home
{% endblock page_title %}



{% block content  %}


    {% for room in rooms %}
    <h1><a href="{% url "rooms:detail" room.pk %}">
        {{room.name}}/ ${{room.price}}</a></h1>
    {% endfor %}

    <h3>
    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}

    </h3>
  

{% endblock content %}


